.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
.gig-card {
    margin-top: 1rem;
    min-width: 15rem;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.row {
    margin: 3rem;
}
  