<h1 mat-dialog-title>Order Details</h1>
<div mat-dialog-content>
  <div fxLayout="row">
    <!-- left -->
    <div fxLayout="row" fxFlex fxLayoutGap="3rem">
      <!-- maininfo -->
      
      <div fxLayout="column">
        <h2>Main information</h2>
        <mat-divider>
        </mat-divider>
        <h3><strong>Order number</strong> {{ data.orderNumber }}</h3>
        <h3><strong>Ordered at</strong> {{ data.orderedAt | date:'short' }}</h3>
        <h3><strong>Buyer Id</strong> {{ data.buyerUserId }}</h3>
      </div>

      <!-- price -->
      <div fxLayout="column">
        <h2>Price</h2>
        <mat-divider>
        </mat-divider>
        <h3><strong>Unit Price</strong> {{ data.unitPrice }}$</h3>
        <h3><strong>Quantity</strong> {{ data.quantity }}</h3>
        <h3><strong>Total</strong> {{ data.totalPrice }}$</h3>
      </div>

      <div *ngIf="gig$ | async; let gig" fxLayout="column">
        <h2>Package</h2>
        <div >
          <app-image-upload 
            [source]="gig.imagePath!.path"
            [download]="download"
            [showUpload]="false"></app-image-upload>
        </div>
        <span>Gig title: {{ gig.title! }} </span>
        <span>Package title: {{ orderedPackage(gig)!.title }} </span>
      </div>
    </div>
  </div>

  <!-- right -->
  <div fxLayout="column">
    <div fxLayout="column">
      <h2>Requirements</h2>
      <mat-divider>
      </mat-divider>
      <textarea [disabled]="true" name="requrements" id="requrements" class="full-width" rows="10">
        {{ data.requirements }}
      </textarea>
    </div>

    <mat-divider>
    </mat-divider>

    <div fxLayout="column">
      <h2>States History</h2>
      <mat-list>
        <mat-list-item *ngFor="let state of data.orderStates">
          <mat-icon matListIcon>radio_button_checked</mat-icon>
          
          <span matLine [ngSwitch]="state.orderState">
            <span *ngSwitchCase="0"> In validation</span>
            <span *ngSwitchCase="1"> Data valid </span>
            <span *ngSwitchCase="2"> Balance sufficient </span>
            <span *ngSwitchCase="3"> Invalid </span>
            <span *ngSwitchCase="4"> Canceled </span>
            <span *ngSwitchCase="5"> Accepted </span>
            <span *ngSwitchCase="6"> Declined </span>
            <span *ngSwitchCase="7"> In Progress </span>
            <span *ngSwitchCase="8"> Completed </span>
            <span *ngSwitchDefault> Unknown</span>
          </span>
          <p matLine>
            <span> {{state.reason}} </span>
            <span> -- {{ state.created | date:'short' }} </span>
          </p>
        </mat-list-item>
      </mat-list>
    </div>


    <div fxLayout="column">
      <h2>Resolutions</h2>
      <mat-list>
        <mat-list-item *ngFor="let res of data.resolution">
          <mat-icon matListIcon>article</mat-icon>
          
          <p matLine>
            <span>Accepted: {{ res.isApproved }} </span>
            <span> -- Version: {{ res.version }} </span>
            <button mat-icon-button (click)="downloadResolution(res.version!)"><mat-icon>download</mat-icon></button>
            <ng-container *ngIf="isBuyer()">
              <ng-container *ngIf="res.isApproved; else approval">
                <button mat-icon-button><mat-icon>not_interested</mat-icon></button>
              </ng-container>
              <ng-template #approval>
                <button mat-icon-button (click)="accept(res.version!)"><mat-icon>check</mat-icon></button>
              </ng-template>
            </ng-container>
          </p>
        </mat-list-item>
      </mat-list>
    </div>
    
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.orderNumber" cdkFocusInitial>Ok</button>
</div>