.container {
    height: 85vh;
    background: rgb(103,58,183);
    background: linear-gradient(180deg, rgba(103,58,183,1) 0%, rgba(103,58,183,1) 25%, rgba(191,172,225,1) 50%, rgba(222,211,239,1) 75%, rgba(234,227,245,1) 100%, rgba(255,255,255,0) 100%);
}

.container-card {
    background: none;
    box-shadow: none;
}
.main-page {
    max-width: fit-content;
}

.info-card {
    width: 30rem;
    height: 10rem;
}

.explore {
    width: 10rem;
    height: 5rem;
}