<div
      fxLayout="column"
      fxLayoutAlign="center center">
      <img 
            *ngIf="dataSource" 
            [src]="dataSource" 
            fxLayoutAlign="center" 
            class="image-display"
            width="100%" 
            height="100%" 
            alt="Image"/>

      <input 
        #uploader 
        fxLayoutAlign="center"
        fxHide="true" 
        type='file' 
        (change)="onFileSelected($event)">
      <button *ngIf="showUpload" fxLayoutAlign="center" mat-mini-fab (click)="uploader.click()">
            <mat-icon>upload</mat-icon>
      </button>
</div>