<mat-card fxFill fxLayout="column">
    <h1 fxFlex="5" fxFlexAlign="center">Filters</h1>

    <mat-divider
        [inset]="true">
    </mat-divider>

    <form fxFlex="85" fxLayout="column" class="example-form">
        
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Find gig by name</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Gig"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Category</mat-label>
            <input type="text"
                   placeholder="Pick one"
                   aria-label="Gig"
                   matInput
                   [formControl]="myControl"
                   [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20%" class="price-limit">
            <mat-form-field fxFlex="40" appearance="fill">
              <mat-label>From</mat-label>
              <input type="number" min="1" matInput [formControl]="lowerPriceControl">
            </mat-form-field>

            <mat-form-field fxFlex="40" appearance="fill">
              <mat-label>To</mat-label>
              <input type="number" max="10000" matInput [formControl]="upperPriceControl">
            </mat-form-field>
          </div>
    </form>

    <mat-divider
        [inset]="true">
    </mat-divider>

    <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="end" class="filter-buttons">
        <button mat-raised-button color="primary">Search</button>
        <button mat-raised-button>Clear</button>
    </div>
</mat-card>