<div fxLayout="column">
  <div fxFlex="20%" fxLayout="row">
    <mat-toolbar fxLayout="row" color="primary">
      <div fxFlex="40%" fxFlexOffset="45%">
        <img src="/assets/icons/logo.png" alt="image" class="logo">
      </div>
      <div fxFlex="10%">
        <button *ngIf="!isLoggedIn" mat-raised-button>Sign Up</button>
        <button *ngIf="!isLoggedIn" mat-raised-button (click)="login()">Sign In</button>
        <button *ngIf="isLoggedIn" mat-raised-button [routerLink]="['/dashboard']">To Dashboard</button>
      </div>
    </mat-toolbar>
  </div>
  
  <router-outlet fxFlexFill></router-outlet>
</div>

