<ng-container *ngIf="orders$ | async; let list">
    <div class="mat-elevation-z8" fxLayout="column">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows fxFlex>
    
            <!-- Order Number Column -->
            <ng-container matColumnDef="orderNumber">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.orderNumber}} </td>
            </ng-container>

            <!-- Ordered At Column -->
            <ng-container matColumnDef="orderedAt">
                <th mat-header-cell *matHeaderCellDef> Ordered At  </th>
                <td mat-cell *matCellDef="let element"> {{element.orderedAt | date:'short'}} </td>
            </ng-container>

            <!-- Is Closed Column -->
            <ng-container matColumnDef="isClosed">
                <th mat-header-cell *matHeaderCellDef> Closed </th>
                <td mat-cell *matCellDef="let element"> {{element.isClosed}} </td>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="orderStates">
                <th mat-header-cell *matHeaderCellDef> Current state </th>
                <td mat-cell *matCellDef="let element"> 
                    <!-- Seller -->

                    <!-- This done only because of rendering problem -->
                    <span [ngSwitch]="latestState(element.orderStates)">
                    <span *ngSwitchCase="0"> In validation</span>
                    <span *ngSwitchCase="1"> Data valid </span>
                    <span *ngSwitchCase="2"> Balance sufficient </span>
                    <span *ngSwitchCase="3"> Invalid </span>
                    <span *ngSwitchCase="4"> Canceled </span>
                    <span *ngSwitchCase="5"> Accepted </span>
                    <span *ngSwitchCase="6"> Declined </span>
                    <span *ngSwitchCase="7"> In Progress </span>
                    <span *ngSwitchCase="8"> Completed </span>
                    <span *ngSwitchDefault> Unknown</span>
                    </span>
                </td>
            </ng-container>

            <!-- Unit Price Column -->
            <ng-container matColumnDef="unitPrice">
                <th mat-header-cell *matHeaderCellDef> Unit Price </th>
                <td mat-cell *matCellDef="let element"> {{element.unitPrice}}$</td>
            </ng-container>

            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            </ng-container>

            <!-- Total Column -->
            <ng-container matColumnDef="totalPrice">
                <th mat-header-cell *matHeaderCellDef> Total </th>
                <td mat-cell *matCellDef="let element"> {{element.totalPrice}}$ </td>
            </ng-container>

            <ng-container matColumnDef="actions">
        
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <!-- Seller -->
                    <ng-container *ngIf="isSeller; else buyer">
                        <button 
                            [disabled]="!canProcess(element.orderStates)"
                            mat-icon-button 
                            (click)="processSeller(element.orderNumber)"><mat-icon>done</mat-icon></button>
                        <button 
                            [disabled]="!canProcess(element.orderStates)"
                            mat-icon-button 
                            (click)="processSeller(element.orderNumber, false)"><mat-icon>highlight_off</mat-icon></button>
                        <button 
                            [disabled]="!canSetInProgress(element.orderStates)"
                            mat-icon-button 
                            (click)="setInProgress(element.orderNumber)"><mat-icon>play_arrow</mat-icon></button>
                            
                        <input #uploader fxHide="true" type='file' (change)="uploadFile(element.orderNumber!, uploader.files)">
                        <button 
                            [disabled]="!canUpload(element.orderStates)"
                            type="button"
                            (click)="uploader.click()"
                            mat-icon-button><mat-icon>upload</mat-icon></button>
                    </ng-container>
                    <ng-template #buyer>
                        <button mat-icon-button 
                            [disabled]="!canProcess(element.orderStates)"
                            (click)="processSeller(element.orderNumber)"><mat-icon>cancel</mat-icon></button>
                        </ng-template>
                    
                    <button mat-icon-button><mat-icon>info</mat-icon></button>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</ng-container>

