<ng-container *ngIf="profile$ | async; let profile; else noprofile"> 
  <mat-card fxLayout="column" class="container">
    <mat-card-header>
      <mat-card-title>Profile Information</mat-card-title>
      <mat-card-subtitle>Edit Profile Information</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content fxLayout="column">
      <div fxLayout="row" fxLayoutGap="3rem">
        <app-account-details fxFlex="30%" [profile]="profile"></app-account-details>
        <mat-tab-group fxFlex="30%">
          <mat-tab label="Change Information">
            <app-change-information [profile]="profile"></app-change-information>
          </mat-tab>
        </mat-tab-group>
      </div>

      <div *ngIf="isSeller">
        <mat-divider [inset]="true"> </mat-divider>

        <h2>My Seller/Vendor Information</h2>

        <app-account-seller-information [profile]="profile"></app-account-seller-information>
      </div>
      
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-template #noprofile>
  <p>
    Sorry, we could not load your profile, please try later.
  </p>
</ng-template>
  