<div *ngIf="wallet$ | async; let wallet" fxLayout="row">
    <div fxLayout="column" fxFlex="20" fxLayoutAlign="space-between center" class="m-3">
        <h2>Balance</h2>
        <ngx-avatar value="{{balance}}$" [round]="true" size="200"></ngx-avatar>
        <div style="margin: 2rem;">
            <app-account-balance-fund [wallet]="wallet"></app-account-balance-fund>
        </div>
    </div>
    <div fxLayout="column" fxFlex>
        <h2>Transactions</h2>
        <app-account-transactions [transactions]="wallet.transactions" [balance]="wallet.balance"></app-account-transactions>
        <mat-divider
            [inset]="true">
        </mat-divider>
        <div fxFlexAlign="end">
            <p>
                Total Balance: <strong>{{wallet.balance}}$</strong>
            </p>
        </div>
    </div>
</div>