<form [formGroup]="form">
    <div
        fxLayout="column">
        <p>Use the form below to change your seller information.</p>

        <div fxLayout="row" fxLayoutGap="2%">
            <!-- Info -->
          <div fxFlex="40%" fxFlex.md="45%" fxFlex.sm="50%" fxFlex.xs="100%">
            
            <mat-form-field class="full-width">
                <mat-label>Description</mat-label>
                <textarea 
                    matInput 
                    placeholder="Information about your services"
                    formControlName="description">
                </textarea>
            </mat-form-field>
    
            <mat-form-field class="full-width">
                <mat-label>Education</mat-label>
                <textarea 
                    matInput 
                    placeholder="Information about your current or previous education"
                    formControlName="education">
                </textarea>
            </mat-form-field>
      
            <!-- <button mat-raised-button color="primary" [disabled]="form.invalid || disableSubmit" (click)="changePassword()">Save</button> -->
      
          </div>
    
          <!-- Chips -->
          <div fxFlex="40%" fxFlex.md="45%" fxFlex.sm="50%" fxFlex.xs="100%">
            
            <mat-form-field class="full-width active-input">
                <mat-label>Languages</mat-label>
                <mat-chip-list #chipList aria-label="Languages" formControlName="languages">
                    <mat-chip 
                        *ngFor="let language of languages.value" 
                        selectable="false" removable="true" (removed)="remove(languages, language)">
                        {{language}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
            
                    <input matInput
                        class="active-input"
                        placeholder="Language..." 
                        [matChipInputFor]="chipList" 
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        matChipInputAddOnBlur="true"
                        (matChipInputTokenEnd)="add(languages, $event)">
                </mat-chip-list>
            </mat-form-field>
    
            <mat-form-field class="full-width mt-1">
                <mat-label>Skills</mat-label>
                <mat-chip-list #skillsList aria-label="Skills" formControlName="skills">
                    <mat-chip 
                        *ngFor="let skill of skills.value" 
                        selectable="false" removable="true" (removed)="remove(skills, skill)">
                        {{skill}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
            
                    <input matInput
                        class="active-input"
                        placeholder="Skills..." 
                        [matChipInputFor]="skillsList" 
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        matChipInputAddOnBlur="true"
                        (matChipInputTokenEnd)="add(skills, $event)">
                </mat-chip-list>
            </mat-form-field>
      
            <!-- <button mat-raised-button color="primary" [disabled]="form.invalid || disableSubmit" (click)="changePassword()">Save</button> -->
      
          </div>
    
          
          <!-- Email -->
          <div fxFlex="10%" fxFlex.md="45%" fxFlex.sm="50%" fxFlex.xs="100%" formGroupName="notificationSettings">
            <p>Email Notifications</p>
            <mat-slide-toggle formControlName="emailNotifications">Off/On</mat-slide-toggle>
          </div>
        </div>

        <button mat-raised-button color="primary">Update</button>
    </div>
  
</form>


  