<div
    fxLayout="column"
    class="container"
    fxLayoutGap="1rem">

    <mat-accordion fxFlex>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                Explore Gigs
            </mat-panel-title>
            <mat-panel-description>
              Expand to explore filter options
            </mat-panel-description>
          </mat-expansion-panel-header>
        
            <!-- filter -->
          <div 
            fxLayout.gt-lg="row"
            fxLayoutAlign.gt-lg="space-between">
            <!-- <button mat-raised-button>Filter</button> -->
          </div>

        </mat-expansion-panel>
    </mat-accordion>

    <mat-card fxFlex="90" *ngIf="(gigs$ | async)?.length! > 0; else elseTemplate">
        <div
            class="list-view"
            *ngIf="gigs$ | async; let gigs"
            fxLayout="row wrap"
            fxLayoutAlign="start center"
            fxLayoutGap="3%">

            <app-gig-card 
                fxFlex="20"
                *ngFor="let gig of gigs" 
                [gig]="gig"
                [profile]="undefined"
            ></app-gig-card>
        </div>
    </mat-card>

    <mat-paginator 
        style="margin-top: 1rem;"
        class="mat-elevation-z8"
        [length]="length"
        [pageSizeOptions]="pageSizeOptions" 
        [pageSize]="pageSize"
        [pageIndex]="pageNumber"
        (page)="pageChange($event)"
        showFirstLastButtons></mat-paginator>
    
    <ng-template #elseTemplate>
        <mat-card fxFlexOffset="2rem" class="mat-elevation-z8">
            <mat-card-header>
                <mat-card-title>Explore Gigs</mat-card-title>
                <mat-card-subtitle>Gigs</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="start center" fxFill class="container">
                <mat-icon fxFlex="50">work_outline</mat-icon>
        
                <h1>No gigs found</h1>
            </mat-card-content>
        </mat-card>
    </ng-template>
</div>