<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a [routerLink]="['/']">
      <mat-list-item [routerLinkActive]="['link-active']"> 
        <span class="h2 mr-3">Hive</span>
      </mat-list-item>
    </a>
  
    <mat-list class="inline-list">
      <a [routerLink]="['/todo']">
        <mat-list-item [routerLinkActive]="['link-active']"> 
          <span>Todo</span>
        </mat-list-item>
      </a>
      <a [routerLink]="['/fetch-data']">
        <mat-list-item [routerLinkActive]="['link-active']"> 
          <span>Fetch data</span>
        </mat-list-item>
      </a>
    </mat-list>
    <span class="example-spacer"></span>
    <app-login-menu></app-login-menu>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="(isAuthenticated | async)">
    <div class="container w-50 p-3">
      <div class="row">
        <div class="col-8 col-1">
          <app-category-menu></app-category-menu>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>