<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['/']">
      <mat-list-item [routerLinkActive]="['link-active']"> 
        <span>Hive</span>
      </mat-list-item>
    </a>
    <!-- <app-login-menu></app-login-menu> -->
  
    <mat-list class="inline-list">
      <a [routerLink]="['/counter']">
        <mat-list-item [routerLinkActive]="['link-active']"> 
          <span>Counter</span>
        </mat-list-item>
      </a>
      <a [routerLink]="['/todo']">
        <mat-list-item [routerLinkActive]="['link-active']"> 
          <span>Todo</span>
        </mat-list-item>
      </a>
      <a [routerLink]="['/fetch-data']">
        <mat-list-item [routerLinkActive]="['link-active']"> 
          <span>Fetch data</span>
        </mat-list-item>
      </a>
    </mat-list>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row style="background-color: white">
    <app-category-menu></app-category-menu>
  </mat-toolbar-row>
</mat-toolbar>