<form (ngSubmit)="fund()" class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Amount</mat-label>
        <input type="number" matInput [formControl]="fundControl" placeholder="Set an amount">
        <mat-error *ngIf="fundControl.hasError('min') && !fundControl.hasError('required')">
        Please enter a non negative amaount
        </mat-error>
        <mat-error *ngIf="fundControl.hasError('required')">
        Amount is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Send</button>
</form>