<!-- <mat-card 
  class="container" 
  fxLayout="column">
  <mat-card-header>
    <mat-card-title>Plans Control</mat-card-title>
    <mat-card-subtitle>Manage your gigs plans</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutGap="3%"> -->

    <!-- Header -->
    <!-- <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Plans Control
          </mat-panel-title>
          <mat-panel-description>
            Expand to explore filter options
          </mat-panel-description>
        </mat-expansion-panel-header>
      
        <div 
          fxLayout="row" fxLayoutAlign="space-between">
          <app-plans-search-field [selfOnly]="true" (onSelected)="onPlanSelected($event)"></app-plans-search-field>
          <button style="height: 80%;" mat-raised-button (click)="openCreateDialog()">Create Plan</button>
        </div>
  
      </mat-expansion-panel>
    </mat-accordion>
     -->
     
    <!-- <div *ngIf="plans$ | async; let plansList" 
      class="mat-elevation-z2"  fxLayout="column" >
      
    
      
    </div>
  </mat-card-content>
</mat-card> -->

<div *ngIf="plans$ | async; let plansList" class="container">
  <mat-card class="mat-elevation-z8" fxLayout="column" fxFlex>
    <mat-card-header>
      <mat-card-title>Plans Control</mat-card-title>
      <mat-card-subtitle>Manage your gigs plans</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content fxFlex fxLayout="column">
      <div fxLayout="row">
        <mat-form-field appearance="standard" fxFlex>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. My plan" #input>
        </mat-form-field>

        <button 
          *ngIf="isSeller" 
          mat-raised-button 
          color="primary"
          style="height: 5rem;"
          (click)="openCreateDialog()">Create Plan</button>
      </div>

      <table mat-table [dataSource]="dataSource" fxFlex matSort multiTemplateDataRows>
        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
          <td mat-cell *matCellDef="let row"> {{row.title | limitTo:'20'}} </td>
        </ng-container>
    
        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
          <td mat-cell *matCellDef="let row"> {{row.description | limitTo:'20'}}</td>
        </ng-container>
    
        <!-- startDate Column -->
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
          <td mat-cell *matCellDef="let row"> {{row.startDate | date:'short'}} </td>
        </ng-container>
    
        <!-- endDate Column -->
        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
          <td mat-cell *matCellDef="let row"> {{row.endDate | date:'short'}} </td>
        </ng-container>

        <!-- fundingNeeded Column -->
        <ng-container matColumnDef="fundingNeeded">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Needed Funding </th>
          <td mat-cell *matCellDef="let row"> {{row.fundingNeeded}}$ </td>
        </ng-container>

        <!-- fundingNeeded Column -->
        <ng-container matColumnDef="totalFundsNeeded">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Funds Needed </th>
          <td mat-cell *matCellDef="let row"> {{row.totalFundingNeeded}}$ </td>
        </ng-container>

        <!-- isFunded Column -->
        <ng-container matColumnDef="isFunded">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Is Funded? </th>
          <td mat-cell *matCellDef="let row"> {{row.isFunded}} </td>
        </ng-container>
        
        <!-- isPublic Column -->
        <ng-container matColumnDef="isPublic">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Is Public? </th>
          <td mat-cell *matCellDef="let row"> {{row.isPublic}} </td>
        </ng-container>

        <!-- isPublic Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let row"> 
            <app-plan-card [plan]="row" (change)="onChange($event)"></app-plan-card>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter</td>
        </tr>
      </table>
    </mat-card-content>

    <mat-paginator 
        fxFlexAlign="end"
        [pageSizeOptions]="pageSizeOptions"
        [length]="length"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        (page)="setPage($event)"
        showFirstLastButtons
        ></mat-paginator>
  </mat-card>
</div>
