<div *ngIf="paginatedList$; let list" fxLayout="column" class="container">
    <mat-card fxLayout="column" fxLayoutAlign="center center" >
        <h1 fxLayoutGap="3px">Manage Categories</h1>
        <div fxLayout="row" >
            <button mat-raised-button (click)="openDialog()" color="accent" class="control-btn">Create new</button>
            <button mat-raised-button (click)="clear()" fxFlexOffset="20%" class="control-btn">Clear</button>
            <app-category-search (filteredEmitter)="setCategories($event)" class="search-input"></app-category-search>
        </div>
    </mat-card>

    <div fxFlex="90%" fxLayout="row" class="categories-list" >
        <div fxFlexOffset="5%"></div>
        <div *ngFor="let item of list.items" fxLayout="row" fxFlex="15%" class="category-card">
            <mat-card fxLayoutGap="20px" fxLayout="column">
                <mat-card-header fxLayoutAlign="center center">
                    <mat-card-title>{{item.title}}</mat-card-title>
                    <mat-card-subtitle>{{item.parentId}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="openUpdateDialog(item)">Update</button>
                    <button mat-raised-button color="warn" (click)="deleteCategory(item.id!)">Delete</button>
                </mat-card-actions>
            </mat-card>
        </div>
        
        <div fxFlexOffset="5%"></div>
    </div>
    <div fxLayout="row" >
        <mat-paginator fxFill
            [length]="500"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="handlePageEvent($event)">
        </mat-paginator>
    </div>
</div>


