.container {
    height: 100%;
}

.categories-list {
    height: 100%;
    margin-top: 1rem;
}

.control-btn {
    width: 10rem;
}

.search-input {
    margin-left: 5rem;
}

.category-card {
    height: 10rem;
}