<div *ngIf="paginatedList$; let list" fxLayout="column" class="container">
    <h1 fxFlex="5%" fxLayoutAlign="space-around center">Manage Categories</h1>
    <div fxLayout="row wrap" fxFlex="10%">
        <mat-card fxFlexFill fxLayoutAlign="space-around center" fxLayout="row wrap" class="control-card">
            <button mat-raised-button (click)="openDialog()">Create new</button>
            <button mat-raised-button (click)="clear()">Clear</button>
            <app-category-search (categorySelectedEvent)="setCategories($event)"></app-category-search>
        </mat-card>
    </div>
    <div fxLayout="row wrap" fxFlex="85%" class="category-card">
        <mat-card *ngFor="let item of list.items" fxFlexOffset="3" >
            <mat-card-header  fxLayoutAlign="space-around center">
                <mat-card-title>{{item.title}}</mat-card-title>
                <mat-card-subtitle>{{item.parentId}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="openUpdateDialog(item.id!)">Update</button>
                <button mat-raised-button color="warn" (click)="deleteCategory(item.id!)">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxLayout="row">
        <mat-paginator fxFill 
            [length]="500"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="handlePageEvent($event)">
        </mat-paginator>
    </div>
</div>


