<h1 mat-dialog-title>Update Category</h1>
<div mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate fxLayout="column">
        <!-- Title -->
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" formControlName="title">
        </mat-form-field>
        
        <app-category-search [defaultCategory]="parentDto" (categorySelectedEvent)="storeCategoryId($event)"></app-category-search>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!form.valid">Save</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="updatedCategory">Close</button>
</div>