<div
  *ngIf="!data.parentId || (parentCategory$ | async); let pc"
  fxLayout="column">
  <h1 mat-dialog-title>Update Category</h1>

  <div mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate fxLayout="column">
      
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" formControlName="title">
        </mat-form-field> 
        
        <app-category-search [init]="pc" (filteredEmitter)="storeCategoryId($event)"></app-category-search>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="updatedCategory" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSubmit()" [mat-dialog-close]="updatedCategory" [disabled]="!form.valid">Save</button>
  </div>
</div>

