.container {
    height: 100%;
}

.gigs-list {
    height: 100%;
}

.gig-card {
    max-height: 20rem;
    width: 13rem;
    
}
  

.container {
    margin: 1rem;
}
.categories-menu {
    width: 100%;
}

.row {
  margin: 3rem;
}
