<div fxLayout="column" fxLayoutAlign="start start" class="container">
    <div fxFlex="10%"  class="categories-menu">
        <mat-card fxLayout="row" fxFlex="100%">
            <button *ngFor="let category of (categories$ | async)" mat-raised-button [matMenuTriggerFor]="menu">
                <span>{{category.title}}</span>
                <mat-menu #menu="matMenu">
                    <button *ngFor="let subCategory of category!.subCategories" 
                        (click)="categorySelected(subCategory)" mat-menu-item >{{subCategory.title}}</button>
                </mat-menu>
            </button>
        </mat-card>
    </div>
    
    <mat-card fxFlexOffset="1rem">
        <div fxLayout="column" fxFlexFill>
            <h2>Gigs</h2>
            <div fxLayout="row wrap" fxLayoutGap="5rem" fxLayoutAlign="start start">
                <app-gig-card-overview *ngFor="let item of (gigs$ | async)" [gig]="item"></app-gig-card-overview>
            </div>
            <div fxFlexAlign="end">
                <mat-paginator *ngIf="(gigs$ | async)"
                    (page)="handlePageEvent($event)"
                    [length]="gigsLength"
                    [pageSize]="gigsPageSize"
                    [showFirstLastButtons]="showFirstLastButtons"
                    [pageSizeOptions]="pageSizeOptions"
                    [pageIndex]="gigsPageIndex">
                </mat-paginator>
            </div>
        </div>
    </mat-card>
</div>