<div
    fxLayout="column"
    fxLayoutGap="2%"
    class="container">

    <!-- categories-small -->
    <div
        fxLayout="row"
        fxFlex="5">
        <mat-card fxFill>
            <ng-container *ngFor="let category of (categoriesList$ | async)?.items; let i = index;">
                <ng-container *ngIf="category">
                    <button mat-button [matMenuTriggerFor]="menu">{{category.title!}}</button>
                    <mat-menu #menu="matMenu">
                        <button 
                            *ngFor="let subcategory of category.subCategories" 
                            mat-menu-item
                            (click)="categorySelected(subcategory.id!)">
                            {{ subcategory.title! }}
                        </button>
                    </mat-menu>
                </ng-container>
            </ng-container>
        </mat-card>
    </div>

    <!-- info -->
    <div 
        *ngIf="categoryDetails$ | async; let category"
        fxLayout="column"
        class="category-info">
        <h2>{{ category.title }}</h2>
        <h3>Random description</h3>
    </div>

    <!-- filters -->
    <div
        fxLayout="row">
        <mat-card>
            name filter
        </mat-card>
        <mat-card>
            budget filter
        </mat-card>
    </div>

    <div
        fxFill
        *ngIf="gigsList$ | async; let list"
        fxLayoutGap="3rem"
        fxLayout="row wrap">
        <app-gigs-single-card 
            *ngFor="let gig of list.items"
            [gig]="gig">
        </app-gigs-single-card>
    </div>
</div>