.container {
    height: 100%;
}

.gigs-list {
    height: 100%;
}

.gig-card {
    max-height: 20rem;
    width: 13rem;
    
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
.gig-card {
    margin-bottom: 1rem;
}

.container {
    height: 90%;
    margin: 1rem;
}

.row {
  margin: 3rem;
}