<div fxLayout="row" *ngIf="source | async; let messages" class="container full-height">
  <div  fxLayout="column">
    <div fxLayout="column">
      <!-- new chat -->
      <h4>Basic mat-select</h4>
      <mat-form-field appearance="fill">
        <mat-label>New chat</mat-label>
        <mat-select (selectionChange)="selected($event)">
          <mat-option *ngFor="let uuid of unifiers" [value]="uuid">
            {{getNameByUUID(uuid.uuid)}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="unifiers" fxLayout="column">
      <mat-selection-list #roomsList [multiple]="false" (selectionChange)="onRoomSelected($event)">
        <mat-list-option *ngFor="let room of chatService.rooms$ | async" [value]="room">
          <mat-icon mat-list-icon>account_circle</mat-icon>
          {{ getName(room.participantOne, room.participantTwo )}}
        </mat-list-option>
      </mat-selection-list>
      
    </div>
  </div>

  <mat-divider class="chat-window" [vertical]="true">
  </mat-divider>

  <mat-card fxLayout="column" fxFlex class="chat-window scrollable-content">
    <mat-card-header fxFlex="10">
      <mat-card-title *ngIf="chatService.selectedRoom"> {{ otherParticipantName }} </mat-card-title>
      <mat-card-subtitle>Chat</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column reverse" fxFlex="85">

      <ul>
        <li 
          *ngFor="let message of chatService.roomMessages | async"
          [ngClass]="isReceiving(message.senderIdentifier) ? 'him' : 'me'">{{ message.text }}
        </li>
      </ul>
      
    </mat-card-content>
    <mat-card-actions fxFlexAlign="end strech" fxLayout="row">
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Message</mat-label>
        <input type="text" matInput placeholder="Type your message..." [(ngModel)]="text">
        <button *ngIf="text" [disabled]="text.length==0" matSuffix mat-icon-button aria-label="Send" (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-actions>
  </mat-card>
</div>


<!-- 
  <input type="text" [(ngModel)]="text">
  <button [disabled]="text.length==0" (click)="sendMessage()">Send Message</button>
  <div *ngIf="rooms$ | async">
    <div *ngFor="let room of chatService.rooms">
      <div *ngFor="let message of room.messages">
        <div>
          <div><strong>ConnectionID</strong> {{message.senderIdentifier}}</div>
          <div><strong>Date</strong> {{message.dateTime | date}}</div>
          <div><strong>Message</strong> {{message.text}}</div>
          <hr>
        </div>
      </div>
    </div>
  </div>
 


<h4>mat select</h4>
<mat-form-field *ngIf="uuids$ | async; let uuids" appearance="fill">
  <mat-label>Favorite animal</mat-label>
  <mat-select [formControl]="selectFormControl" (selectionChange)="selected($event)" required>
    <mat-option *ngFor="let uuid of uuids" [value]="uuid">
      {{uuid.firstName || 'User'}} {{ uuid.lastName || 'User'}}
    </mat-option>
  </mat-select>
</mat-form-field> -->
