<div fxLayout="row" fxLayoutGap="2rem" *ngIf="(messages$ | async)?.length! >= 0 || (messages$ | async); let messages" class="container full-height">
  <div  fxLayout="column">
    <div fxLayout="column">
      <!-- new chat -->
      <h3>Create room with:</h3>
      <mat-form-field appearance="fill">
        <mat-label>New chat</mat-label>
        <mat-select (selectionChange)="selected($event)">
          <mat-option *ngFor="let uuid of uuids" [value]="uuid">
            {{ uuid.givenName }} {{ uuid.surname }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <h3>Rooms with:</h3>
    <div *ngIf="rooms$ | async; let rooms" fxLayout="column">
      <mat-selection-list 
        #roomsList [multiple]="false" 
        (selectionChange)="onRoomSelected($event)">
        <mat-list-option *ngFor="let room of rooms" [value]="room" >
          <mat-icon mat-list-icon>account_circle</mat-icon>
          {{ getChattingWithName(room)}}
        </mat-list-option>
      </mat-selection-list>
      
    </div>
  </div>

  <mat-divider class="chat-window" [vertical]="true">
  </mat-divider>

  <mat-card fxLayout="column" fxFlex class="chat-window scrollable-content mat-elevation-z8">
    <mat-card-header fxFlex="10">
      <mat-card-title> {{ otherParticipantName }} </mat-card-title>
      <mat-card-subtitle>Chat</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column reverse" fxFlex="85">

      <ul>
        <li 
          *ngFor="let message of chatService.roomMessages | async"
          [ngClass]="isReceiving(message.senderIdentifier) ? 'him' : 'me'">{{ message.text }}
        </li>
      </ul>
      
    </mat-card-content>
    <mat-card-actions fxFlexAlign="end strech" fxLayout="row">
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Message</mat-label>
        <input type="text" matInput placeholder="Type your message..." [(ngModel)]="text" >
        <button *ngIf="text" [disabled]="text.length==0" matSuffix mat-icon-button aria-label="Send" (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-actions>
  </mat-card>
</div>

<ngx-spinner></ngx-spinner>