<!-- main -->
<div *ngIf="profile$ | async; let profile" fxLayout="row" class="container">
  <div *ngIf="gig$ | async; let gig">
     <!-- left : title, name, etc -->
    
     <div fxLayout="column" fxLayoutGap="1rem" fxFlex="60">
      <mat-card fxFlex="60" fxLayout="column" class="full-height">
        <mat-card-header>
          <mat-card-title>{{ gig.title! }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div>
            <app-image-upload
              [showUpload]="false"
              [defaultImage]="default"
              [source]="gig.imagePath?.path"
              [download]="download">
            </app-image-upload>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>About this Gig</mat-card-title>
          <mat-card-subtitle>Description</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ gig.description }}
          </p>
        </mat-card-content>
      </mat-card>
          
      <mat-card *ngIf="gig.questions?.length! > 0">
        <mat-card-header>
          <mat-card-title>FAQ</mat-card-title>
          <mat-card-subtitle>Find more information below</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-accordion *ngFor="let question of gig.questions">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ question.title }}
                </mat-panel-title>
                <mat-panel-description>
                  Expand to see answer
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>{{ question.answer }}</p>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- right: packages and price -->
    <div fxLayout="column" fxFlexOffset="5" fxFlex="40" class="packages-overview">
      <app-seller-overview *ngIf="profile$ | async; let profile" [profile]="profile"></app-seller-overview>

        <mat-card style="margin-top: 1rem;"> 
            <mat-card-content>
              <mat-tab-group mat-align-tabs="center">
                <mat-tab *ngFor="let package of gig.packages"> 
                  <ng-template mat-tab-label>{{ displayPackageTier(package.packageTier!) }}</ng-template>
                  <div fxLayout="column" fxLayoutGap="3">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <h2>{{package.title}}</h2>
                        <h3><strong>{{ package.price }}$</strong></h3>
                    </div>
                  
                    <p> {{ package.description }} </p>

                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <section fxLayout="row" fxLayoutGap="1rem" fxFlexAlign="start center">
                            <mat-icon>schedule</mat-icon>
                            <span> <strong> Delivery Time: {{ package.deliveryTime}} {{displayFrequency(package.deliveryFrequency!)}}</strong></span>
                        </section>

                        <section fxLayout="row" fxLayoutGap="1rem"  fxFlexAlign="start center">
                            <mat-icon>remove_red_eye</mat-icon>
                            <span *ngIf="package.revisionType === 0"><strong>Revisions: Unlimited</strong></span>
                            <span *ngIf="package.revisionType! > 0"><strong>Revisions: {{package.revisions}}</strong></span>
                        </section>
                    </div>

                    <a mat-raised-button mat-button 
                      class="mt-1"
                      color="primary"
                      [routerLink]="['/gigs', gig.id, 'packages', package.id, 'checkout']">
                      Order
                    </a>

                </div>
                </mat-tab>
              </mat-tab-group>
            </mat-card-content>
          </mat-card>
        <div *ngIf="canModify" fxFlexOffset.gt-lg="1rem" fxLayout.gt-lg="column" fxLayoutGap.gt-lg="1rem">
          <button mat-raised-button color="accent"
            (click)="edit(gig)">Edit</button>
        </div>


  </div>  
</div>