<!-- main -->
<div *ngIf="gig$ | async; let gig" fxLayout="row" class="container">
    <!-- left : title, name, etc -->
    <div fxFlex="60" fxLayout="column" class="full-height">
        <h1 fxFlex="3">I will do flat modern minimalist logo design</h1>
        <h3 fxFlex="3">Avatar | name | orders</h3>
        <div fxFlex="30" fxFlexAlign="row">
            <img fxFlex="50" class="image-detail" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        </div>

        <h2>About this Gig</h2>
        <p>
            Looking for Flat Minimalist Logo that your clients will remember and you will love? Well, that's our peculiarity. :)

            Why Choose us?

            - We believe in memorable and timeless designs.

            - Customer happiness is the center of our business.

            - We have 130K+ Happy Buyers on Fiverr combining our all services.

            - On and off the Fiverr, many Fortune 500 companies come to us for their quick jobs. :)

            Standard Package:

            3 Minimalist Logo Designs
            Trendsetter designers to get a unique business identity.
            Entire design will be made from scratch.
            Yes, 5 Revision rounds & Priority Support are part of the package.

            Premium Package:

            5 Timeless Flat Modern Minimalist logo Designs
            Unlimited Revisions (Changes only- no redesigning)
            Customized concepts to meet client's expectation.
            Dedicated relationship manager and VIP support are part of the package.


            Basic Package:

            2 Basic Order of 2000px X 2000px in JPG & transparent PNG formats in 300 dpi
            Customized concepts are accepted
            Prompt customer support & 2 Modification.


            Modification delivery time will be 2 business day.



            Kindly contact us before placing any custom order.

            Happy Fiverring!
        </p>


        <mat-divider>
        </mat-divider>

        <p>
            tags
        </p>

        <h2>About The Seller</h2>

        <p>info</p>

        <mat-divider>
        </mat-divider>

        <h2>FAQ</h2>

        <p>info</p>

        <mat-divider>
        </mat-divider>

        <h2>Reviews</h2>

        <p>info</p>
    </div>

    <!-- right: packages and price -->
    <div fxFlexOffset="5" fxFlex="35" fxLayout="column" fxFlexAlign="start" class="packages-overview">
        <mat-card >
            <mat-card-content>
                <ng-container *ngIf="(asyncTabs | async) === null">
                    Loading tabs...
                  </ng-container>
                  
                  <mat-tab-group mat-align-tabs="center">
                    <mat-tab *ngFor="let tab of asyncTabs | async" >
                      <ng-template mat-tab-label>{{tab.label}}</ng-template>
                      <!-- {{tab.content}} -->
                      <div fxLayout="column" fxLayoutGap="3">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <h2>Package Name</h2>
                            <h3>35$ ( Price )</h3>
                        </div>

                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptatibus tenetur optio deleniti eius. Quo repellat saepe porro ipsum tempore, dolorem officia praesentium tenetur, recusandae eligendi illum impedit vitae explicabo!
                        </p>

                        <div fxLayout="row" fxFlexAlign="space-between center">
                            <section fxLayout="row" fxFlexAlign="start center">
                                <mat-icon>schedule</mat-icon>
                                <span>Delivery Time: 3 days</span>
                            </section>

                            <section fxLayout="row" fxFlexAlign="start center">
                                <mat-icon>remove_red_eye</mat-icon>
                                <span>Revision: 10</span>
                            </section>
                        </div>

                        <button mat-raised-button color="primary" (click)="checkout()">Continue</button>
                      </div>
                    </mat-tab>
                  </mat-tab-group>
            </mat-card-content>
        </mat-card>
        <button mat-raised-button color="primary" (click)="edit(gig)">Edit</button>

    </div>
</div>