<form [formGroup]="form" fxLayout="column">
    <p fxFlexOffset="1">Use the form below to change profile information.</p>
  
    <div fxLayout="row">
  
      <div fxFlex="40%" fxFlex.md="60%" fxFlex.sm="50%" fxFlex.xs="100%">
  
        <mat-form-field class="full-width">
          <input matInput placeholder="First name" formControlName="firstName" type="text">
          <mat-error *ngIf="form.controls['firstName'].hasError('required')">
            Please enter a your first name
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Last name" formControlName="lastName" type="text">
            <mat-error *ngIf="form.controls['lastName'].hasError('required')">
              Please enter a your last name
            </mat-error>
          </mat-form-field>
  
        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="updateProfile()">Save</button>
  
      </div>
  
    </div>
  
  </form>
  