<ng-container *ngIf="categories$ | async; else noCategories">
  <div fxLayout="column" fxLayoutGap="2rem" class="container">

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              Categories Control Dashboard
          </mat-panel-title>
          <mat-panel-description>
            Expand to explore filter options
          </mat-panel-description>
        </mat-expansion-panel-header>
      
        <!-- filter -->
        <div 
          fxLayout.gt-lg="row"
          fxLayoutAlign.gt-lg="space-between">
          <app-categories-search [defaultSearchType]="0" (onSelectedCategory)="selected($event)"></app-categories-search>
          <app-categories-create (onClosedDialog)="onClosedDialog($event)"></app-categories-create>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
    
    <div fxLayout="row wrap" fxLayoutGap="2rem" fxLayoutAlign="start center">
        <mat-card 
          *ngFor="let category of categories"
            style="max-height: 10rem !important;"
            class="list-item-card"
            fxLayout="column"
            fxFlex.gt-lg="18"
            fxFlex.gt-md="18"> 
            <mat-card-header fxLayout="column wrap">
                <mat-card-title>{{ category.title }}</mat-card-title>
                <mat-card-subtitle>Category</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{ category.description! | limitTo:'100' }}
                </p>
            </mat-card-content>
            <mat-card-actions 
                fxLayout.gt-lg="row"
                fxLayoutAlign.gt-lg="space-between center">
                <button mat-button (click)="delete(category)">Delete</button>
                <button mat-button (click)="openDialog(category)">Details</button>
            </mat-card-actions>
        </mat-card>

    </div>
  </div>

</ng-container>
<ng-template #noCategories>
  <div fxLayout="column" fxFlex>
    <p>No categories found</p>
  </div>
</ng-template>
