<div fxLayout="column" class="container" fxFlex>
    <h1>Admin Dashboard</h1>
    <div fxLayout="row" fxLayoutGap="1%" fxFlex>
        <mat-card fxFlex="45%">
            <mat-card-header>
                <mat-card-title>Categories</mat-card-title>
                <mat-card-subtitle>Manage Categories</mat-card-subtitle>
            </mat-card-header>
            <mat-divider>
            </mat-divider>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let category of (categories$ | async)?.items">
                        <div mat-line><strong>{{category.title}}</strong> - <em>{{category.parentOverview ? 'Child' : 'Parent'}}</em></div>
                        <div mat-line> {{category.description! | limitTo:'100'}} </div>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-divider>
            </mat-divider>
            <mat-card-actions>
                <button mat-button>Manage</button>
            </mat-card-actions>
        </mat-card>

        <mat-card fxFlex="45%">
            <mat-card-header>
                <mat-card-title>Users</mat-card-title>
                <mat-card-subtitle>Manage Users</mat-card-subtitle>
            </mat-card-header>
            <mat-divider>
            </mat-divider>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let user of (users$ | async)?.items">
                        <div mat-line><strong>{{user.givenName}} {{user.surname}}</strong></div>
                        <div mat-line><strong>Bio: </strong>{{user.bio || 'Not yet provided'}}</div>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-divider>
            </mat-divider>
            <mat-card-actions>
                <button mat-button>Manage</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxLayout="row" style="margin-top: 3rem;" fxLayoutGap="1%" fxFlex>
        <mat-card fxFlex="91%">
            <mat-card-header>
                <mat-card-title>Users over time</mat-card-title>
                <mat-card-subtitle>Chart</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div style="display: block;">
                    <canvas baseChart width="300" height="50"
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType"
                      [plugins]="lineChartPlugins">
                    </canvas>
                  </div>                  
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Ok</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>