<mat-card class="mat-elevation-z8">
    <mat-card-header class="full-width">
        <mat-card-title fxLayout="row" fxLayoutAlign="space-between">
            <span>{{ owner.firstName }} {{ owner.lastName }} </span>
            <span> Balance: {{ wallet.balance }}$</span>
        </mat-card-title>
        <mat-card-subtitle>Wallet</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <button mat-button (click)="openDepositDialog()">Up-top</button>
    </mat-card-content>
</mat-card>