<div *ngIf="wallet$ | async; let wallet" fxLayout="column" class="container">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
        <mat-icon>credit_card</mat-icon>
        <h1>Billing account</h1>
    </div>

    <app-balance-overview 
        *ngIf="owner$ | async; let owner" 
        (onTransactionAdded)="onChange($event)" 
        [owner]="owner" 
        [wallet]="wallet"></app-balance-overview>
    
    <mat-divider fxFlexOffset="2" fxFill></mat-divider>
    
    <app-transactions-overview [wallet]="wallet" fxFlexOffset="2"></app-transactions-overview>
    
</div>