<div fxLayout="column" fxLayoutAlign="start start" class="container">
  <div fxFlex="15%" fxFlexFill>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Create and Update your gigs</mat-card-title>
        <mat-card-subtitle>Panel</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
       <mat-divider>
       </mat-divider>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="space-around start">
        <button mat-raised-button color="primary">Create a new gig</button>
        <section fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
          <span>Find a gig:</span>
          <app-gig-name-search (filteredEmitter)="onFilteredEvents($event)"></app-gig-name-search>
        </section>
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="paginatedList$ | async; let items" class="gigs-list" fxFlexFill> 
    <mat-card>
      <div fxLayout="row wrap" fxLayoutGap="3rem" fxLayoutAlign="start start">
        <app-gig-card-overview *ngFor="let item of items.items" [gig]="item"></app-gig-card-overview>
      </div>
      <div fxFlexAlign="end">
        <mat-paginator
            (page)="handlePageEvent($event)"
            [length]="500"
            [pageSize]="pageSize"
            [showFirstLastButtons]="true"
            [pageSizeOptions]="pageSizeOptions"
            [pageIndex]="pageIndex">
        </mat-paginator>
      </div>
    </mat-card>
  </div>

  
  
</div>